<div class="wrapper">
  <div class="page-header" style="background-image: url('./assets/img/login-image.jpg');">
      <div class="filter"></div>
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="card card-register1 mr-auto ml-auto " >
                    
                    <form class="register-form" [formGroup]="voyageForm" (ngSubmit)="addVoyage()">
                        <div class="form-group">
                          <label for="depart">Lieu de depart:</label>
                          <div  [ngClass]="{'input-group-focus':focus===true}">
                              <input type="text" id="depart" class="form-control" placeholder="Depart" formControlName="depart" >
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="destination">Destination:</label>
                          <div  [ngClass]="{'input-group-focus':focus===true}">
                              <input type="text" class="form-control" placeholder="Destination" formControlName="destination" id="destination"/>
                          </div>
                        </div>
                          <div class="form-group">
                            <label for="ladate">Destination:</label>
                            <div  [ngClass]="{'input-group-focus':focus===true}">
                                <input type="date" class="form-control"  formControlName="ladate" id="ladate"/>
                            </div>
                        </div>
                        <div class="form-group">
                          <label>Heure de part:</label>
                          <div  [ngClass]="{'input-group-focus':focus===true}">
                              <input type="time" class="form-control" placeholder="00 000 00 00" formControlName="heure" >
                          </div>
                        </div>
                        <div class="form-group">
                          <label>Tarif:</label>
                          <div  [ngClass]="{'input-group-focus':focus===true}">
                              <input type="number" class="form-control" placeholder="00" formControlName="tarif" >
                          </div>
                        </div>
                      
                      
                        <button class="btn btn-primary btn-block btn-round">Ajouter</button>
                    </form>
                   
                </div>
              </div>
            </div>
              <p *ngIf="chauffeur">{{chauffeur.idChauffeur}}</p>
              <div class="footer footer-register text-center ">
                  <h6>&copy;{{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by Creative Tim</h6>
              </div>
          </div>
  </div>
</div>

