<div class="card card-default col-md-10 mr-auto ml-auto" style="margin-top: 20%;">
  <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-6">
        <input type="text" class="form-control marge-champ" placeholder="Nom" formControlName="nom"/>
        <input type="text" class="form-control marge-champ" placeholder="Email" formControlName="email"/>
        <button class="btn btn-primary marge-champ" [disabled]='clientForm.invalid'>Ajoutez</button>
      </div>
      <div class="col-md-6">
        <input type="text" class="form-control marge-champ" placeholder="Tel:" formControlName="tel"/>
        <input type="password" class="form-control marge-champ" placeholder="mot de passe" formControlName="password"/>
      </div>
      
      </div>
  </form>
</div>
